.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.name{
    margin: 0 auto;
    text-align: center;
}
